.sw-center-div {
    text-align: center;
    margin:30px;
}

.sw-center-container {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 20px;
    //height: 100vh;
}

.sw-img-container {
    display: flex;
    align-items: stretch; /* make the images fill the available height */
    justify-content: space-between;
    margin-bottom: 20px; /* add a small margin between the images and the next element */
    overflow: visible !important; /* override the overflow property */
    clip: auto !important; /* override the clip property */
}

.sw-img-container img {
    object-fit: contain;
    flex-basis: 0; /* set the initial width to 0 to allow the width to be determined by the image aspect ratio */
    flex-grow: 1; /* allow the images to grow to fill the available space */
    margin-right: calc(10px + ((100% - 20px) / 2 - (100% - 20px) / 2 * (100% - 20px) / 2 / ((100% - 20px) / 2 + (100% - 20px) / 2 + 10px))); /* calculate the margin based on the width of the images */
}

.sw-img-container img:last-child {
    margin-right: 0; /* remove the gap after the last image */
}

.sw-tickets-table {
    border-collapse: collapse;
    border: 3px solid rgb(10, 114, 83);
    margin: 0 auto;
  }
  
  .sw-tickets-table th, 
  .sw-tickets-table td {
    border: 1px solid rgb(38, 174, 106);
    padding: 8px;
  }
  
  .sw-tickets-table th {
    border-bottom: 2px solid rgb(27, 150, 91);
  }

  .sw-ticket-links-container {
    text-align: center;
    margin: 35px;
  }

  .sw-ticket-link {
    display: inline-block;
    padding: 15px;
    border: 15px solid green;
    font-weight: bold;
  }
  
  .sw-ticket-links-container a:not(:last-child) {
    margin-right: 20px;
  }

  hr {
    margin-top:50px;
    margin-bottom:50px;
  }