
<div style="text-align: center; margin:20px; font-size:1.2em; border-style:dashed; border-color:#1B965B; padding:5px">

    <p><strong>Want to go to Somewhen Storytelling Festival but not able to get to Havenstreet?</strong></p>
    
    <p>We're working with the <a href="https://www.facebook.com/groups/334736596708368/user/100067963039764/">FYT Bus (West Wight Minibus Services)</a> to provide community transport to help get you there.</p>
    
    <p>On Saturday 3rd June the bus will be leaving from West Wight Sports Centre, Freshwater at 10am and will be stopping at Cineworld Car Park at 10:30am, 12:30pm and 4:30pm to take people to Havenstreet.</p>

    <p>You can get the bus back from Havenstreet to Cineworld Car Park on Saturday at 12pm, 4pm or 9:45pm, with the last bus also stopping at Freshwater.</p>
    
    <p>On Sunday 4th June The bus will be leaving from West Wight Sports Centre, Freshwater at 10am and will be stopping at Cineworld Car Park at 10:30am, 12:30pm and 2:30pm to take people to Havenstreet.</p>
    
    <p>You can get the bus back from Havenstreet to Cineworld Car Park on Saturday at 12pm, 4pm or 5:45pm, with the last bus also stopping at Freshwater.</p>
    
    <p>No need to book - just turn up. This service is free, but donations to the FYT Bus would be gratefully received.</p>
    
</div>
    